.banner {
  margin-bottom: -100px;
}

.bannerSection {
  padding: 223px 0 452px;
  background-image: url(../public/bg-images/01.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner a {
  background: linear-gradient(
    -135deg,
    rgba(163, 69, 251, 1) 0%,
    rgba(251, 189, 65, 1) 100%
  );
  color: #fff;
  display: inline-block;
  font-size: inherit;
  padding: 20px 35px 18px 35px;
}

.banner a:hover {
  border-radius: 17px;
}

@media only screen and (max-width: 1100px) {
  .bannerSection {
    padding: 200px 0 180px;
  }
}

@media only screen and (max-width: 600px) {
  .bannerSection {
    padding: 90px 0 140px;
  }
}
