:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --facebook-color: #4867ab;
  --twitter-color: #5da9dd;
  --linkedin-color: #2466c2;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 18px;
  font-family: var(--font-family-sans-serif);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3.4rem;
  font-weight: bold;
  font-style: normal;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}

a {
  font-size: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#header ul li a.active {
  border-bottom: 2px solid dodgerblue;
}

.line-container:hover .line {
  width: 36px;
}

.mobile-nav a {
  color: rgba(255, 255, 255, 0.5);
}

input[type='search' i]::-webkit-search-cancel-button {
  background-color: red;
  font-size: 3rem;
  color: red;
  cursor: pointer;
}

@media (max-width: 640px) {
  .footer-border-right {
    border: none;
  }
}
