.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlayShow {
  opacity: 1;
  visibility: visible;
}

.mobileMenuCloseBtn {
  cursor: pointer;
  color: #dcc2f3;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
}

.mobileMenuCloseBtnChangeColor {
  color: #23233f;
}

.mobileMenuCloseBtn::before,
.mobileMenuCloseBtn::after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.mobileMenuCloseBtn::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.mobileMenuCloseBtn::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header a {
  color: #dcc2f3;
  font-size: inherit;
  line-height: 90px;
}
.scrolled {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 20%);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 20%);
}
.scrolled a {
  color: #434343;
}
.scrolled ul li a.active {
  border-bottom: 4px solid dodgerblue;
  color: dodgerblue;
}
.active {
  border-bottom: 4px solid var(--teal);
  color: var(--teal);
}
.ul li a {
  letter-spacing: 0.8px;
  line-height: 90px;
}
.headerSocial {
  line-height: 90px;
  font-size: inherit;
  color: rgb(38, 75, 225);
}
.contactBtn {
  background: linear-gradient(
    -135deg,
    rgba(163, 69, 251, 1) 0%,
    rgba(251, 189, 65, 1) 100%
  );
  color: #fff;
  /* display: inline-block; */
  font-size: inherit;
  padding: 15px 20px;
}
.contactBtn:hover {
  border-radius: 10px;
}
.btnMenu {
  cursor: pointer;
  display: none;
  margin-left: 8px;
}
.line {
  background-color: #23233f;
  height: 2px;
  margin: 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.line1 {
  width: 30px;
}
.line2 {
  width: 36px;
}
.line3 {
  width: 28px;
}
.line4 {
  width: 32px;
}
.btnMenu:hover .line {
  width: 36px;
}

/* Mobile Menu Styles */
.mobileMenu {
  align-items: stretch;
  background-color: #212529;
  color: #fff;
  position: fixed;
  width: 300px;
  height: 100%;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mobileNavShow {
  left: 0;
}
.mobileMenu ul {
  padding: 0;
  list-style: none;
}
.mobileMenu li {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  text-align: left;
  margin: 0;
}
.mobileMenu li a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 60px;
  padding-left: 35px;
}
.mobileMenuContainer {
  padding: 0 14px;
}

.mobileMenu a:active {
  border-bottom: none;
}

@media (max-width: 1000px) {
  .contentMenu {
    margin-left: 0;
  }
  .navWrap {
    display: none;
  }
  .btnMenu {
    display: block;
  }
}

@media (max-width: 300px) {
  .mobileMenuCloseBtn {
    right: 10px;
  }
  .mobileMenu {
    width: 250px;
  }
  .contactBtn {
    padding: 7px 10px;
  }
}

@media (max-width: 283px) {
  .contactBtn {
    display: none;
  }
}
