.cardBody {
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  opacity: 0.9;
  display: none;
  will-change: left;
  --webkit-animation: slideRight 0.7s forwards;
  --moz-animation: slideRight 0.7s forwards;
  --ms-animation: slideRight 0.7s forwards;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  animation: slideRight 0.7s forwards;
}

.card:hover .cardBody {
  left: 0;
  display: flex;
}

.cardBody p {
  align-self: flex-start;
  margin-bottom: 10px;
  line-height: 1.3;
}

.cardBody a {
  align-self: flex-start;
  justify-self: flex-end;
  position: relative;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 5px 23px;
  text-align: center;
  margin: auto;
}

/* .cardBody a::after {
  content: "";
  position: absolute;
  top: 41%;
  width: 10px;
  height: 10px;
  border: 2px solid;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  margin-left: 5px;
  text-align: center;
} */

@keyframes slideRight {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
