@font-face {
  font-family: "playball";
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/playball.woff2);
}

/* Resume left col */

.resumeSocial a:first-child {
  color: var(--twitter-color);
}
.resumeSocial a:nth-child(2) {
  color: #222;
}
.resumeSocial a:nth-child(3) {
  color: var(--linkedin-color);
}
.resumeSocial a:nth-child(4) {
  color: var(--facebook-color);
}
.subTitle {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Playball", sans-serif;
}

.subTitle::after {
  content: url(../public/icons/dots.png);
  position: absolute;
  top: 6px;
  right: -96px;
  margin: 15px 0 0 10px;
}

/* Resume right col */
.timeline li {
  padding-bottom: 47px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline:before {
  top: 0;
  bottom: 165px;
  position: absolute;
  content: " ";
  border: 0.5px dashed #ff2e59;
  left: 0;
  margin-left: 7px;
}

.timeline .timelineBadge {
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.timeline .color1 .timelineBadge {
  background-color: #ff2e5f;
}
.timelinePanel {
  border-radius: 2px;
  margin-left: 55px;
  margin-top: -4px;
  position: relative;
}
.timelinePanel h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 8px;
  letter-spacing: 0.1px;
}
.timeline .color2 .timelineBadge {
  background-color: #fbbd41;
}
.timeline .color2 h3 {
  color: #fbbd41;
}
.timeline .color3 .timelineBadge {
  background-color: #8b2ee1;
}
.timeline .color3 h3 {
  color: #8b2ee1;
}
.info {
  font-size: 1.5rem;
  color: #646168;
  letter-spacing: -0.4px;
  margin-bottom: 11px;
}
.downloadBtn {
  position: absolute;
  top: 32%;
  left: -190px;
}
.downloadBtn a {
  padding: 20px 21px 18px 23px;
  background: rgb(251, 189, 65);
  background: linear-gradient(
    254deg,
    rgba(251, 189, 65, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-size: inherit;
  text-decoration: none;
  color: #3b4250;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.downloadBtn a:hover {
  border-radius: 36px;
}

@media (max-width: 1240px) {
  .downloadBtn {
    top: 0;
    left: 0;
    position: relative;
  }
}

@media (max-width: 1270px) {
  .downloadBtn {
    top: 32.2%;
  }
}

@media (max-width: 900px) {
  .subTitle::after {
    right: -70px;
  }
}

@media (max-width: 836px) {
  .subTitle::after {
    right: -90px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .timelinePanel {
    margin-left: 39px;
  }
}
@media (max-width: 273px) {
  .subTitle::after {
    right: 20px;
    margin: 0;
    margin-top: 15px;
  }
}
